<div class="registration-modal">
  <div class="body">
    <div class="sidebar">
      <div class="icon">🐣</div>
    </div>
    <form class="registration-form" [formGroup]="registrationForm" (ngSumbit)="onSubmit()">
      <h1>New Account</h1>
      <div class="input-wrapper">
        <label>Username</label>
        <input id="registration-username" type="text" formControlName="username" [ngClass]="{'submitted': username.invalid && submitted }">
        <span class="underline"></span>
        <img *ngIf="username.dirty" class="close-img" src="assets/icons/icon--saltire.svg" (click)="username.reset()">
        <div *ngIf="username.invalid && submitted" [ngClass]="'error'">
          <img class="error-img" src="assets/icons/icon--alert.svg">
          <div>Username is required.</div>
        </div>
      </div>

      <div class="input-wrapper">
        <label>Password</label>
        <div class=hide-wrapper (click)="togglePassword()">
          <div *ngIf="displayPassword; else elseBlock">
            <img class="login-img" src="assets/icons/icon--eye-closed.svg">
            <span >Hide</span>
          </div>
          <ng-template #elseBlock>
            <img class="login-img" src="assets/icons/icon--eye-open.svg">
            <span>Show</span>
          </ng-template>
        </div>
        <input id="registration-password" type={{passwordInputType}} formControlName="password" [ngClass]="{'submitted': password.invalid && submitted }">
        <span class="underline"></span>
        <img *ngIf="password.dirty" class="close-img" src="assets/icons/icon--saltire.svg" (click)="password.reset()">
        <div *ngIf="password.invalid && submitted" [ngClass]="'error'">
          <img class="error-img" src="assets/icons/icon--alert.svg">
          <div *ngIf="password.errors.required">Password is required.</div>
          <div *ngIf="password.errors.minlength">Password must be at least 8 characters long.</div>
          <div *ngIf="password.errors.forbiddenCharacter">Spaces are not allowed.</div>
          <div *ngIf="password.errors.requiredCharacters">Special characters are required.</div>
        </div>
      </div>

      <div class="input-wrapper">
        <label>Email</label>
        <input id="registration-email" type="text" formControlName="email" [ngClass]="{'submitted': email.invalid && submitted }">
        <span class="underline"></span>
        <img *ngIf="email.dirty" class="close-img" src="assets/icons/icon--saltire.svg" (click)="email.reset()">
        <div *ngIf="email.invalid && submitted" [ngClass]="'error'">
          <img class="error-img" src="assets/icons/icon--alert.svg">
          <div *ngIf="email.errors.required">Email is required.</div>
          <div *ngIf="email.errors.validEmail">A valid email is required.</div>
        </div>
      </div>
    </form>
  </div>

  <div class="footer">
    <div (click)="close()" class="text-button text-button--gray">Cancel</div>
    <div (click)="onSubmit()" class="text-button">Register Account</div>
  </div>
</div>
