<div class="home">
  <div class="row row--nav-row row--space-between">
    <div class="row logo-wrapper">
      <mat-icon class="app-icon" aria-hidden="false" aria-label="Apps">apps</mat-icon>
      <img class="logo" src="assets/icons/logo--Gaggle.svg">
    </div>
    <div class="row save-wrapper">
      <img class="error-img" src="assets/icons/icon--alert.svg">
      <h6 class="vertical-bar">Save Unsuccessful.</h6>
      <mat-progress-spinner value="64" diameter="15" class="spinner"></mat-progress-spinner>
      <h6>Retrying...</h6>
    </div>
  </div>
  <div class="row row--nav-row row--space-between">
    <div class="row">
      <div class="button-wrapper">
        <button>
          <mat-icon class="icon" aria-hidden="false" aria-label="Search">search</mat-icon>
          <mat-icon class="icon" aria-hidden="false" aria-label="Chevron">chevron_right</mat-icon>
        </button>
        <h6>Button 1</h6>
      </div>
      <div class="button-wrapper">
        <button>
          <mat-icon class="icon" aria-hidden="false" aria-label="Queue">cloud_queue</mat-icon>
          <mat-icon class="icon" aria-hidden="false" aria-label="Chevron">chevron_right</mat-icon>
        </button>
        <h6>Button 2</h6>
      </div>
      <div class="button-wrapper">
        <button>
          <mat-icon class="icon" aria-hidden="false" aria-label="File">file_present</mat-icon>
          <mat-icon class="icon" aria-hidden="false" aria-label="Chevron">chevron_right</mat-icon>
        </button>
        <h6>Button 3</h6>
      </div>
    </div>
    <div class="row">
      <div class="button-wrapper button-wrapper--input">
        <input placeholder="Find...">
        <mat-icon class="icon" aria-hidden="false" aria-label="Filter">filter_alt</mat-icon>
        <h6>Filter by Keyword</h6>
      </div>
      <div class="button-wrapper">
        <button>
          <mat-icon class="icon" aria-hidden="false" aria-label="Export">system_update_alt</mat-icon>
          <mat-icon class="icon" aria-hidden="false" aria-label="Chevron">expand_more</mat-icon>
        </button>
        <h6>Export</h6>
      </div>
    </div>
  </div>
  <div class="row row--nav-row">
    <input class="checkbox" type="checkbox">
    <h4 class="label vertical-bar">Date</h4>
    <h4 class="vertical-bar">Incident Type</h4>
    <h4>Status</h4>
  </div>
</div>
